body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 100px 0;
  background-color: LightBlue;
}

header h2, header h3 {
  color: SlateGray;
}

section {
  font-size: 150%;
  background-color: Cornsilk;
}
section h3 {
  text-align: center;
}